.footer
  %ul.footer__contents
    %li.footer__contents__content
      %h2.footer__contents__content__head
        このサイトについて

    %li.footer__contents__content       
      %h2.footer__contents__content__head
        企画運営

    %li.footer__contents__content        
      %h2.footer__contents__content__head
        利用規約
 
    %li.footer__contents__content        
      %h2.footer__contents__content__head
        プライバシーポリシー                              
  
  .footer__log
    = link_to "#" do
      -# = image_tag asset_path("logo-white.svg"), size: "160x47", alt: "ICON" 
    %p
      ©2020 Table Tennis Spot All Rights Reserved.