=render "header"
      
.main__visual
  .main__visual__content
    %h2.main__visual__content__title
      Find your place for having fun.

.content
  %ul.content__list
    %li#about.content__list__item
      About
      .content__list__item--text
        Table Tennis Spotは気軽に卓球が楽しめるスポットをシェアするプラットフォームです。
    %li#works.content__list__item
      新着スポット
      .content__list__item--card-wrapper
        -@posts.each do |post|
          .card
            = link_to post_path(post.id) do
              .card-caption
                .card-caption-title
                  ="#{post.name}"
                .card-caption-info
                  =image_tag post.images.find_by(post_id: post.id).img_url, size: "238x150"
                .card-caption-info
                  ="#{post.content}"
                .card-caption-url
              

=render "footer"        
