= render "header"
.body
  .main
    .detail-box
      .detail-box__title
        = @post.name
      .detail-box__image
        =image_tag @post.images.find_by(post_id: @post.id).img_url, size: "400x300"

      .detail-box__content
        =@post.content

= render "footer"