= render "header"
.body
  .detail-box
    .detail-box__title
      詳細
    .detail-box__image
      =image_tag ("shibutaku.jpg"), size: "400x300"

    .detail-box__content
      渋谷駅から徒歩5分です。

= render "footer"