= render "header"
.body
  .main
    .detail-box
      .detail-box__title
        更新が完了しました。

      .detail-box__content
        = link_to root_path, id: 'index' do
          トップページに戻る




= render "footer"