
.body{

  height: 640px;
  

}

.detail-box{

  padding-top: 130px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  color: white;
  

  &__title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
  }

  &__content{
    padding-top: 30px;
    text-align: center;
    font-size: 17px;
  }


}